DEEPL_API_KEY=your_deepl_api_key
DEEPL_API_URL=https://api-free.deepl.com/v2/translate
WIKTAPI_BASE_URL=http://wiktapi:3000
WIKTAPI_DATA_DIR=./wiktapi-data
STANZA_BASE_URL=http://stanza-morph:5000
ARD_PROXY_BASE_URL=http://ard-proxy:5100
ARD_API_BASE_URL=https://api.ardmediathek.de
ARD_USER_ID=personalized
