# npm
dist
web
node_modules

# test coverage
coverage

# config
config.json

# ide
.idea
.vs

# vim
*.sw?

# direnv
.direnv/

# environment related
.env
.envrc
.runtime/
.runtime-web/
.runtime-jellyfin/
wiktapi-data/

# python
__pycache__/
*.py[cod]
